*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding-left: 15%;
    padding-right: 15%;
}

header h1 {
    font-size: 60px;
    font-weight: 100;
}

#content-body {

    font-family: "Chakra Petch", sans-serif;
}

#about {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

#profile-shot {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#profile-shot img {
    width: 500px;
}

#profile-desc {
    position: relative;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.116);
}

#profile-desc h3 {
    font-size: 48px;
    font-weight: 500;
    text-align: center;
}

#profile-desc p {
    font-size: 24px;
    text-align: center;
}

#bio {
    position: relative;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding-top: 100px;
    align-items: center;
    justify-items: center;
    gap: 25px;
}

#bio p {
    font-size: 21px;
}

#skills {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    background-color: rgba(128, 128, 128, 0.116);
    padding-top: 25px;
}

#skills h2 {
    font-size: 30px;
}

#skills-list {
    display: flex;
    gap: 10px;
    
}

.skill {
    border-style: solid;
    border-width: 1px;
    border-radius: 5%;
}

#projects h2 {
    text-align: center;
}

#project-containter {
    display: flex;
}